<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpkCv5C-NIxm2rGoNzT0aZz00wm_NPb7g</string>
	<key>GCM_SENDER_ID</key>
	<string>593658875969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binodcoder.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-86445</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-86445.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593658875969:ios:ff1309705437be1ae9f6c0</string>
</dict>
</plist>